.container {
    background-color: #323f21;
    color: white;
    padding: 15px;
    cursor: pointer;
    border: 2px solid tomato;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
}

.appContainer {
    background-color: #f21f21;
    padding: 20px;
}

.containerApp {
    padding: 20px;
    background-color: #f4f2f5;
    border: 2px solid #24f2f2;
    border-radius: 8px;
    margin: 10px;
}

.activeDescription {
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;
}

.inActiveDescription {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    text-align: center;
}